@charset "utf-8";

@font-face {
  font-family: 'Nanum-G'; /* Nanum Gothic Regular */
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothic Regular'), local('NanumGothic-Regular');
  src: url(../font/NanumGothic-Regular.eot);
  src: url(../font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-Regular.woff) format('woff'),
       url(../font/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum-G'; /* Nanum Gothic Bold */
  font-style: normal;
  font-weight: 700;
  src: local('NanumGothic Bold'), local('NanumGothic-Bold');
  src: url(../font/NanumGothic-Bold.eot);
  src: url(../font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-Bold.woff) format('woff'),
       url(../font/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum-G'; /* Nanum Gothic ExtraBold */
  font-style: normal;
  font-weight: 800;
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold');
  src: url(../font/NanumGothic-ExtraBold.eot);
  src: url(../font/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothic-ExtraBold.woff) format('woff'),
       url(../font/NanumGothic-ExtraBold.ttf) format('truetype');
}