@charset "utf-8";

/* CSS 작성  */

/* 캘린더 */
.container {visibility: hidden;}
#calendar {min-height: 100vh;}
#calendar .fc-header-toolbar {padding-top: 1rem;}
#calendar .fc-toolbar-chunk h2 {display: flex; font-size: 1.25rem; line-height: 1.25rem; font-weight: 800;}
#calendar .fc-toolbar-chunk {display: flex; line-height: 1.25rem;}
#calendar .fc-toolbar-chunk .datepicker-select {margin-left: 0.25rem;}
#calendar .fc-view-harness {font-size: 0.8rem; text-align: center;}
#calendar .fc-view-harness .fc-col-header-cell {font-weight: 700;}
#calendar .fc-view-harness .fc-day-sun .fc-daygrid-day-number,
#calendar .fc-view-harness .fc-day-sun .fc-col-header-cell-cushion {color: red; font-weight: 400;}
#calendar .fc-view-harness .fc-day-today {background: none; box-shadow: 0px 1px 3px 0px rgba(0,0,0,.12);}
#calendar .fc-view-harness .fc-day-select {background: none; box-shadow: 0px 1px 3px 0px rgba(0,0,0,.12);}
#calendar .fc-view-harness .fc-day-today .fc-daygrid-day-number {color: #5CB2C9; font-weight: 700;}
#calendar .fc-view-harness .fc-daygrid-day-top {line-height: 1rem; padding-top: 0.2rem;}

#calendar .fc-view-harness .fc-scrollgrid-section tr {
    border-bottom: 0.01rem solid #ddd;
}
#calendar .fc-view-harness .fc-scrollgrid-section tr:last-child {
    border-bottom: 0;
}

#calendar .fc-view-harness .fc-daygrid-day-events {
    right: 0.5rem;
    bottom: 0.5rem;
    left: auto;
}

#calendar .fc-view-harness .name-section {
    padding: 0.2rem;
}
#calendar .fc-view-harness .name-section .name {
    width: 100%;
    height: 1rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#calendar .fc-view-harness .name-section .plus {
    text-align: left;
    font-size: 0.7rem;
}
#calendar .fc-view-harness .icon {
    /* display: none; */
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50% 50% 50% 0;
    transform: rotate(135deg);
    background: linear-gradient( to bottom, #278BAB, #1FB5A4 );
}
#calendar .fc-view-harness .icon .count {
    transform: rotate(-135deg);
    font-size: 0.65rem;
    font-weight: 800;
    color: #fff;
}
#calendar .fc-view-harness.middle .icon {width: 0.5rem; height: 0.5rem;}
#calendar .fc-view-harness.middle .icon .count {opacity: 0;}

.calendar .setting {position: fixed; width: 1.5rem; height: 1.5rem; top: 0.8rem; right: 0.8rem;}
.calendar .plant-list {
    position: fixed;
    width:100%;
    background: #fff;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    z-index: 20;
    border: 2px solid #ededed;
}
.calendar .plant-list .arrow {width: 16px; margin: 0 auto;}
.calendar .plant-list .contens-section {
    padding: 0 1rem;
}

.calendar .plant-list .date-section {
    font-size: 1rem;
    font-weight: bold;
}
.calendar .plant-list .list {margin-top: 1rem;}
.calendar .plant-list .list li {position: relative; padding: 0.8rem 0; background: #fff; border-bottom: 1px solid #ededed;}
.calendar .plant-list .list li:last-child {border-bottom: 0;}
.calendar .plant-list .list .item {overflow: hidden;}
.calendar .plant-list .list li .plant-img {float: left; width: 5rem; height: 5rem;}
.calendar .plant-list .list li .plant-img img {width: 5rem; height: 5rem; border-radius: 50%;}
.calendar .plant-list .list li .content-section {float: right; margin-left: 1rem; text-align: left; line-height: 1.5rem; width: calc(100% - 6rem);}
.calendar .plant-list .list li .content-section .title {font-size: 1.1rem; font-weight: 700; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.calendar .plant-list .list li .content-section .day {font-size: 1rem; font-weight: 800;}
.calendar .plant-list .list li .content-section .day .waterday{color: #1FB5A4;}
.calendar .plant-list .list li .content-section .day .inadvance{color: #1FB5A4;}
.calendar .plant-list .list li .content-section .day .warning{color: #f74d4d;}
.calendar .plant-list .list li .control-section {position: absolute; bottom: 0.8rem; right: 0;}
.calendar .plant-list .list li .control-section .btn {float: left; margin-left: 0.5rem; padding: 0 0.5rem; height: 100%; line-height: 2rem; font-size: 1rem; color: #fff;}
.calendar .plant-list .list li .control-section .water {border-radius: 1rem; background: #1A789C;}
.calendar .plant-list .list li .control-section .procrastina {border-radius: 1rem; background: #d2d2d2;}
.calendar .plant-list .list .login,
.calendar .plant-list .list .nodata {margin-top: 6rem; text-align: center;}

/* 물주기 변경 */
.water-procrastina .close {text-align: right; font-size: 1.2rem; font-weight: 400; color: #1A789C;;}
.water-procrastina .contens-section {padding: 1rem 2rem;}
.water-procrastina .form-section .water-procrastina-section select {appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; width: 100%; height: 2rem; margin-top: 0.5rem; border-bottom: 1px solid #1FB5A4; background: #fff; font-size: 1.1rem; color: #666;}
.water-procrastina .form-section label,
.water-procrastina .form-section .label {color: #1FB5A4; font-size: 1rem;}
.water-procrastina .btn-section {margin: 1rem auto 0; width: 5rem; line-height: 2rem; text-align: center; font-size: 1rem; color: #fff;}
.water-procrastina .btn-section .btn {border-radius: 1rem; background: #1A789C;}

/* 내식물 */
.myplant-list {}
.myplant-list .contens-section {padding: 0 0.8rem;}
.myplant-list .setting {position: fixed; width: 1.5rem; height: 1.5rem; top: 0.8rem; right: 0.8rem;}
.myplant-list .title-section {height: 4rem; }
.myplant-list .title-section .title {line-height: 3.2rem; font-size: 1.2rem; font-weight: 700;}
.myplant-list .list {margin-top: 1rem;}
.myplant-list .list li {position: relative; padding: 0.8rem 0; background: #fff; border-bottom: 1px solid #ededed;}
.myplant-list .list li:last-child {border-bottom: 0;}
.myplant-list .list .item {overflow: hidden;}
.myplant-list .list li .plant-img {float: left; width: 5rem; height: 5rem;}
.myplant-list .list li .plant-img img {width: 5rem; height: 5rem; border-radius: 50%;}
.myplant-list .list li .content-section {float: right; margin-left: 1rem; text-align: left; line-height: 1.5rem; width: calc(100% - 6rem);}
.myplant-list .list li .content-section .title {font-size: 1.1rem; font-weight: 700; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.myplant-list .list li .content-section .day {font-size: 1rem; font-weight: 800;}
.myplant-list .list li .content-section .day .waterday{color: #1FB5A4;}
.myplant-list .list li .content-section .day .inadvance{color: #1FB5A4;}
.myplant-list .list li .content-section .day .warning{color: #f74d4d;}
.myplant-list .list li .control-section {position: absolute; bottom: 0.8rem; right: 0;}
.myplant-list .list li .control-section .btn {float: left; margin-left: 0.5rem; padding: 0 0.5rem; height: 100%; line-height: 1.5rem; font-size: 0.8rem; color: #1A789C;}
.myplant-list .list li .control-section .water {border-radius: 1rem; border: 1px solid #1A789C;}
    

.myplant-list .list li .control-section .procrastina {border-radius: 1rem; background: #d2d2d2;}
.myplant-list .btn-section {display: none; position: fixed; right: 0.5rem; bottom: 0.5rem;}
.myplant-list .login {margin-top: 10rem; text-align: center;}

.myplant-form .contens-section {padding: 3rem 2rem;}
.myplant-form .header-title-section {height: 2rem; line-height: 2rem;  text-align: right;}
.myplant-form .header-title-section .text {margin-right: 1rem; display: inline; color: #1FB5A4}
.myplant-form .form-section {}
.myplant-form .form-section .item {margin-top: 2rem;}
.myplant-form .form-section .item.sys_myplant_img {padding-top: 0.1rem;}
.myplant-form .form-section .item:first-child {margin-top: 0rem}
.myplant-form .form-section .myplant-img-section .image-view {display: block; margin-top: 1rem; width: 100%; height: 8rem; border: 1px solid #1FB5A4; font-size: 0; text-align: center;}
.myplant-form .form-section .myplant-img-section .image-view img {height: 100%;}
.myplant-form .form-section .sys_myplant_img input {display: none;}
.myplant-form .form-section .water-interval-section select {appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; width: 100%; height: 2rem; margin-top: 0.5rem; border-bottom: 1px solid #1FB5A4; background: #fff; font-size: 1.1rem; color: #666;}
.myplant-form .form-section label,
.myplant-form .form-section .label {color: #1FB5A4; font-size: 1rem;}
.myplant-form .form-section input {width: 100%; height: 2.5rem; border: 0; line-height: 3rem; font-size: 1.1rem; border-bottom: 1px solid #1FB5A4;}
.myplant-form .form-section .msg {margin-top: 0.5rem; font-size: 1rem; line-height: 1.5rem; color: #f74d4d;}

/* 내 식물 상세 */
.myplant-detail .contens-section {}
.myplant-detail .header-title-section {height: 2rem; line-height: 2rem;  text-align: right;}
.myplant-detail .header-title-section .text {margin-right: 1rem; display: inline; color: #1FB5A4}
.myplant-detail .image-section .img {line-height: 0; text-align: center;}
.myplant-detail .content-section {position: relative; top: -1rem; border-top-left-radius: 1rem; border-top-right-radius: 1rem; background: #ededed;}
.myplant-detail .title-section {overflow: hidden; padding: 1rem; border-top-left-radius: 1rem; border-top-right-radius: 1rem; background: #fff; box-shadow: 0px 1px 3px 0 rgba(0,0,0,.12);}
.myplant-detail .title-section .title {word-break: break-all; font-weight: 700; font-size: 1.8rem;}
.myplant-detail .title-section .day {font-size: 1rem; font-weight: 800;}
.myplant-detail .title-section .day .waterday{color: #1FB5A4;}
.myplant-detail .title-section .day .inadvance{color: #1FB5A4;}
.myplant-detail .title-section .day .warning{color: #f74d4d;}
.myplant-detail .title-section .control-section {float: right; bottom: 0.8rem; right: 0;}
.myplant-detail .title-section .control-section .btn {float: left; margin-left: 0.5rem; padding: 0 0.5rem; height: 100%; line-height: 2rem; font-size: 1rem; color: #fff;}
.myplant-detail .title-section .control-section .water {border-radius: 1rem; background: #1A789C;}
.myplant-detail .title-section .control-section .procrastina {border-radius: 1rem; background: #d2d2d2;}

.myplant-detail .detail-section {
    margin-top: 1rem;
    padding: 1rem;
    background: #fff;
}

.myplant-detail .detail-section li {margin-top: 2rem;}
.myplant-detail .detail-section li:first-child {margin-top: 0rem;}

.myplant-detail .detail-section .desc-title {
    font-size: 1rem;
    color: #1FB5A4;
}
.myplant-detail .detail-section .desc {
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.myplant-detail .btn-section {
    margin-top: 1rem;
    padding: 1rem;
    background: #fff;
    font-size: 1rem;
    font-weight: 700;
}
.myplant-detail .btn-section .modify {color: #1FB5A4;}
.myplant-detail .btn-section .delete {margin-top:1rem; color: #f74d4d;}

/* 설정 */
.container.setting {}
.container.setting .logout-section {text-align: center; line-height: 50vh;}
.container.setting .logout-section .login {display: none;}
.container.setting .logout-section .logout {display: none;}

/* 로그인 */
.container.login .text-section {padding: 5rem 0 3rem;}
.container.login .title-section .title {color:#0CAF9C; font-size: 4rem; font-weight: 800;}
.container.login .title-section .sub-title {font-size: 1rem;}
.container.login .detail-section {padding: 2rem 0; text-align: center; box-shadow: 0px -2px 5px 0px #f8f8f8; background: #f8f8f8;}
.container.login .detail-section .login-section {padding: 2rem 0 0.5rem; background: #f8f8f8;}
.container.login .detail-section .login-section input {width: calc(100% - 4rem); height: 3rem; border: 0; border-radius: 2rem; line-height: 3rem; font-size: 1rem; text-align: center; background: #f1f1f1;}
.container.login .detail-section .login-section .msg {margin-bottom: 0.5rem; height: 1.5rem; font-size: 0.8rem; line-height: 1.5rem; color: #f74d4d;}
.container.login .detail-section .btn-section {background: #f8f8f8}
.container.login .detail-section .btn-section .login {display: inline-block; padding: 0 3rem; border-radius: 2rem; line-height: 3rem; font-size: 1rem; background: #0CAF9C;}
.container.login .detail-section .btn-section .login a {color: #fff}
.container.login .detail-section .sub-section {display: inline-flex; overflow: hidden; margin: 2rem auto 0;}
.container.login .detail-section .sub-section .txt {float: left; margin-left: 0.8rem; font-size: 0.9rem;}
.container.login .detail-section .sub-section .txt:first-child {margin-left: 0;}
.container.login .detail-section .sub-section .txt a {color: #666}

/* 회원가입 */
.container.join .text-section {padding: 2rem 0;}
.container.join .title-section .title {color:#0CAF9C; font-size: 4rem; font-weight: 800;}
.container.join .title-section .sub-title {font-size: 1rem;}
.container.join .detail-section {text-align: center; box-shadow: 0px -2px 5px 0px #f8f8f8;}
.container.join .detail-section .join-back-section {padding: 2rem 0 1rem; background: #f8f8f8;}
.container.join .detail-section .join-section {margin: 0 auto; width: calc(100% - 4rem);}
.container.join .detail-section .join-section input {width: 100%; height: 3rem; border: 0; border-radius: 2rem; line-height: 3rem; font-size: 1rem; text-align: center; background: #f1f1f1;}
.container.join .detail-section .join-section .msg {margin: 0.5rem 0; font-size: 0.8rem; color: #f74d4d;}
.container.join .detail-section .agree-section {margin-top: 1rem; padding: 2rem 0 0; background: #f8f8f8; box-shadow: 0px -2px 5px 0px #f8f8f8; color: #666}
.container.join .detail-section .agree-section .user,
.container.join .detail-section .agree-section .personal,
.container.join .detail-section .agree-section .service,
.container.join .detail-section .agree-section .transaction,
.container.join .detail-section .agree-section .promotion {overflow: hidden; margin: 0 auto; width: calc(100% - 4rem); font-size: 0.9rem;}
.container.join .detail-section .agree-section .item:first-child {margin-top: 0}
.container.join .detail-section .agree-section .item {margin-top: 0.8rem}
.container.join .detail-section .agree-section .tit {float:left;}
.container.join .detail-section .agree-section .agree {float:left; margin-left: 0.5rem;}
.container.join .detail-section .agree-section .agree input[type="checkbox"] {width: 1rem; height: 1rem;}
.container.join .detail-section .agree-section .view {float:right;}
.container.join .detail-section .agree-section .msg {clear: both; margin: 1.5rem 0 0; font-size: 0.8rem; text-align: left; color: #f74d4d;}
.container.join .detail-section .btn-section {padding: 2rem 0; background: #f8f8f8}
.container.join .detail-section .btn-section .login {display: inline-block; padding: 0 3rem; border-radius: 2rem; line-height: 3rem; font-size: 1rem; background: #0CAF9C;}
.container.join .detail-section .btn-section .login a {color: #fff}

.join-layer {display: none; padding: 1rem; width:calc(100% - 6rem); height: calc(100vh - 10rem); background: #fff;}
.join-layer .layer-close-section {text-align: right;} 
.join-layer .title-section .title {font-size: 1.2rem; font-weight: 700; text-align: center;}
.join-layer .content-section {overflow: scroll; padding: 0.6rem; height: calc(100vh - 15rem); margin-top: 1rem; border: 1px solid #ededed;}
.join-layer .content-section p {font-size: 0.8rem;}