@charset "utf-8";

/* CSS 작성  */

/* 캘린더 */
.container {visibility: hidden;}

/* 
.calendar.container {padding: 20px 10px;}
.calendar .contens-section {}
.calendar .setting {position: absolute; width: 24px; height: 24px; top: 0; right: 10px;}
.calendar .title-section {position: relative;}
.calendar .title-section .title {line-height: 24px; font-size: 16px; font-weight: 700; color:#00A964; text-align: center;}
*/

#calendar {min-height: 100vh;}
#calendar .fc-header-toolbar {padding-top: 13px;}
#calendar .fc-toolbar-chunk h2 {display: flex; font-size: 16px; line-height: 24px; font-weight: 700;}
#calendar .fc-toolbar-chunk {display: flex; line-height: 24px;}
#calendar .fc-toolbar-chunk .datepicker-select {margin-left: 10px;}
#calendar .fc-view-harness {font-size: 12px; text-align: center;}
#calendar .fc-view-harness .fc-col-header-cell {font-weight: 700;}
#calendar .fc-view-harness .fc-day-sun .fc-daygrid-day-number,
#calendar .fc-view-harness .fc-day-sun .fc-col-header-cell-cushion {color: #f74d4d;}
#calendar .fc-view-harness .fc-day-today {background: none; box-shadow: 0px 1px 3px 0px rgba(0,0,0,.12);}
#calendar .fc-view-harness .fc-day-select {background: none; box-shadow: 0px 1px 3px 0px rgba(0,0,0,.12);}
#calendar .fc-view-harness .fc-day-today .fc-daygrid-day-number {color: #00A964; font-weight: 700;}
#calendar .fc-view-harness .fc-daygrid-day-top {line-height: 10px; padding-top: 5px;}
#calendar .fc-view-harness .fc-scrollgrid-section tr {border-bottom: 0.01rem solid #E6E6E6;}
#calendar .fc-view-harness .fc-scrollgrid-section tr:last-child {border-bottom: 0;}
#calendar .fc-view-harness .fc-daygrid-day-events {
    right: 0.5rem;
    bottom: 0.5rem;
    left: auto;
}

#calendar .fc-view-harness .name-section {
    padding: 0.2rem;
}
#calendar .fc-view-harness .name-section .name {
    width: 100%;
    height: 1rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#calendar .fc-view-harness .name-section .plus {
    text-align: left;
    font-size: 0.7rem;
}
#calendar .fc-view-harness .icon {
    /* display: none; */
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50% 50% 50% 0;
    transform: rotate(135deg);
    background: linear-gradient( to bottom, #278BAB, #00A964 );
}
#calendar .fc-view-harness .icon .count {
    transform: rotate(-135deg);
    font-size: 0.65rem;
    font-weight: 800;
    color: #fff;
}
#calendar .fc-view-harness.middle .icon {width: 0.5rem; height: 0.5rem;}
#calendar .fc-view-harness.middle .icon .count {opacity: 0;}

.calendar .setting {position: fixed; width: 1.5rem; height: 1.5rem; top: 0.8rem; right: 0.8rem;}
.calendar .plant-list {
    position: fixed;
    width:100%;
    background: #fff;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    z-index: 20;
    border: 2px solid #ededed;
}
.calendar .plant-list .arrow {width: 16px; margin: 0 auto;}
.calendar .plant-list .contens-section {
    padding: 0 1rem;
}

.calendar .plant-list .date-section {
    font-size: 1rem;
    font-weight: bold;
}
.calendar .plant-list .list {}
.calendar .plant-list .list li {overflow: hidden; position: relative; padding: 20px 0; border-bottom: 1px solid #E6E6E6;}
.calendar .plant-list .list li:last-child {border: 0;}
.calendar .plant-list .list .li-section {height: 100px;}
.calendar .plant-list .list .content-section {float: left; overflow: hidden;}
.calendar .plant-list .list .content-section .item:first-child {margin-top: 0;}
.calendar .plant-list .list .content-section .item {overflow: hidden; margin-top: 13px; font-size: 12px; color:#808080}
.calendar .plant-list .list .content-section .item .tit {float: left; width: 80px;}
.calendar .plant-list .list .content-section .item .txt {float: left; margin-left: 10px; }
.calendar .plant-list .list .content-section .item.title {color: #535353; font-size: 14px; font-weight: 700;}
.calendar .plant-list .list .content-section .item.water-day.waterday {color:#00A964;}
.calendar .plant-list .list .content-section .item.water-day.remain {color:#00A964;}
.calendar .plant-list .list .content-section .item.water-day.warning {color:#FCC251;}
.calendar .plant-list .list .content-section .item .last-water-day {line-height: 16px;}
.calendar .plant-list .list .image-section {float: right; margin-right: 28px;}
.calendar .plant-list .list .image-section .plant-img {}
.calendar .plant-list .list .image-section .img {margin: 0 auto; width: 70px; height: 70px; line-height: 100px; text-align: center; border: 1px solid; border-radius: 50%; color:#00A964}
.calendar .plant-list .list .image-section img {border-radius: 50%;}
.calendar .plant-list .list .control-section {position: absolute; right: 0; bottom: 20px;}
.calendar .plant-list .list .control-section .btn:first-child {margin-left: 0;}
.calendar .plant-list .list .control-section .btn {float: left; margin-left: 5px; width: 60px; text-align: center; line-height: 25px; font-size: 12px;}
.calendar .plant-list .list .control-section .care {border-radius: 15px; background: #00A964; color:#fff; border: 1px solid #00A964;}
.calendar .plant-list .list .control-section .diary {border-radius: 15px; border: 1px solid #00A964; color:#00A964;}
.calendar .plant-list .list .login,
.calendar .plant-list .list .nodata {margin-top: 100px; font-size:12px; text-align: center;}

/* 물주기 변경 */
.water-procrastina .close {text-align: right; font-size: 1.2rem; font-weight: 400; color: #1A789C;;}
.water-procrastina .contens-section {padding: 1rem 2rem;}
.water-procrastina .form-section .water-procrastina-section select {appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; width: 100%; height: 2rem; margin-top: 0.5rem; border-bottom: 1px solid #00A964; background: #fff; font-size: 1.1rem; color: #666;}
.water-procrastina .form-section label,
.water-procrastina .form-section .label {color: #00A964; font-size: 1rem;}
.water-procrastina .btn-section {margin: 1rem auto 0; width: 5rem; line-height: 2rem; text-align: center; font-size: 1rem; color: #fff;}
.water-procrastina .btn-section .btn {border-radius: 1rem; background: #1A789C;}

/* 내식물 - 리스트 */
.myplant-list.container {padding: 20px 10px;}
.myplant-list .contens-section {}
.myplant-list .setting {position: absolute; width: 24px; height: 24px; top: 0; right: 10px;}
.myplant-list .title-section {position: relative;}
.myplant-list .title-section .title {line-height: 24px; font-size: 16px; font-weight: 700; color:#00A964; text-align: center;}
.myplant-list .list {margin-top: 20px;}
.myplant-list .list li {overflow: hidden; position: relative; padding: 20px 0; border-bottom: 1px solid #E6E6E6;}
.myplant-list .list li:last-child {border: 0;}
.myplant-list .list .li-section {height: 100px;}
.myplant-list .list .content-section {float: left; overflow: hidden;}
.myplant-list .list .content-section .item:first-child {margin-top: 0;}
.myplant-list .list .content-section .item {overflow: hidden; margin-top: 13px; font-size: 12px; color:#808080}
.myplant-list .list .content-section .item .tit {float: left; width: 80px;}
.myplant-list .list .content-section .item .txt {float: left; margin-left: 10px; }
.myplant-list .list .content-section .item.title {color: #535353; font-size: 14px; font-weight: 700;}
.myplant-list .list .content-section .item.water-day.waterday {color:#00A964;}
.myplant-list .list .content-section .item.water-day.remain {color:#00A964;}
.myplant-list .list .content-section .item.water-day.warning {color:#FCC251;}
.myplant-list .list .content-section .item .last-water-day {line-height: 16px;}
.myplant-list .list .image-section {float: right; margin-right: 28px;}
.myplant-list .list .image-section .plant-img {}
.myplant-list .list .image-section .img {margin: 0 auto; width: 70px; height: 70px; line-height: 100px; text-align: center; border: 1px solid; border-radius: 50%; color:#00A964}
.myplant-list .list .image-section img {border-radius: 50%;}
.myplant-list .list .control-section {position: absolute; right: 0; bottom: 20px;}
.myplant-list .list .control-section .btn:first-child {margin-left: 0;}
.myplant-list .list .control-section .btn {float: left; margin-left: 5px; width: 60px; text-align: center; line-height: 25px; font-size: 12px;}
.myplant-list .list .control-section .care {border-radius: 15px; background: #00A964; color:#fff; border: 1px solid #00A964;}
.myplant-list .list .control-section .diary {border-radius: 15px; border: 1px solid #00A964; color:#00A964;}
.myplant-list .list .nodata {line-height: calc(100vh - 200px); text-align: center;}
.myplant-list .btn-section {display: none; position: fixed; right: 0.5rem; bottom: 0.5rem;}
.myplant-list .btn-section .plus {width: 48px; height: 48px;}
.myplant-list .login {margin-top: 10rem; text-align: center;}

/* 내 식물 상세 */
.myplant-detail .contens-section {}
.myplant-detail .header-title-section {height: 20px; line-height: 20px;  text-align: right;}
.myplant-detail .header-title-section .text {margin-right: 10px; display: inline; color: #00A964}
.myplant-detail .image-section .img {line-height: 0; text-align: center;}
.myplant-detail .image-section .img img {width: 100%;}
.myplant-detail .content-section {position: relative; top: -16px; border-top-left-radius: 16px; border-top-right-radius: 16px; background: #E6E6E6;}
.myplant-detail .detail-section {background: #fff; padding: 20px; border-top-left-radius: 16px; border-top-right-radius: 16px;}
.myplant-detail .detail-section .title-section {overflow: hidden; padding-bottom: 20px; border-bottom: 1px solid #E6E6E6;}
.myplant-detail .detail-section .title-section .title {float:left; line-height: 25px; word-break: break-all; font-weight: 700; font-size: 16px;}
.myplant-detail .detail-section .title-section .care {float:right; width: 60px; text-align: center; line-height: 25px; font-size: 12px; border-radius: 15px; background: #00A964; color: #fff; border: 1px solid #00A964;}
.myplant-detail .detail-section li {margin-top: 20px} 
.myplant-detail .detail-section .desc-title {font-size: 12px;}
.myplant-detail .detail-section .desc {margin-top: 10px; font-size: 12px;}
.myplant-detail .detail-section .water-day {color: #00A964;}
.myplant-detail .detail-section .water-day.warning {color:#FCC251;}
.myplant-detail .diary-section {margin-top: 20px; padding: 20px; background: #fff; border-top-left-radius: 16px; border-top-right-radius: 16px;}
.myplant-detail .diary-section .diary-title-section {overflow: hidden; padding-bottom: 20px;}
.myplant-detail .diary-section .diary-title {float:left; font-size: 16px; line-height: 16px; font-weight: 700;}
.myplant-detail .diary-section .diary-all {float:right; font-size: 12px; line-height: 16px;}
.myplant-detail .diary-section li {overflow: hidden; padding: 20px 0; border-top: 1px solid #E6E6E6;}
.myplant-detail .diary-section .diary-date {font-size: 14px; font-weight: 700;}
.myplant-detail .diary-section .diary-detail-section {overflow: hidden; margin-top: 10px;}
.myplant-detail .diary-section .left {overflow: hidden; float:left; width:50%; font-size: 12px;}
.myplant-detail .diary-section .right {overflow: hidden; float:left; width:50%; font-size: 12px;}
.myplant-detail .diary-section .desc-title {float:left; font-size: 12px;}
.myplant-detail .diary-section .desc {float:left; margin-left: 10px; font-size: 12px;}
.myplant-detail .diary-section .diary-content-section {margin-top: 10px}
.myplant-detail .diary-section .content {font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.myplant-detail .btn-section {margin-top: 20px; padding: 16px 20px 0; background: #fff;}
.myplant-detail .btn-section .delete {margin: 0 auto; width: 70px; height: 25px; line-height: 25px; font-size: 14px; color: #808080; font-weight: 700; border-radius: 15px; border: 1px solid; text-align: center;}

/* 내식물 - 등록/수정 폼 */
.myplant-form .contens-section {}
.myplant-form .header-title-section {height: 2rem; line-height: 2rem;  text-align: right;}
.myplant-form .header-title-section .text {margin-right: 12px; display: inline; color: #00A964}
.myplant-form .contens-section .contents {background: #E6E6E6;}
.myplant-form .form-section {}
.myplant-form .form-section .myplant-img-section {position: relative; margin:0 auto; width: 100px;}
.myplant-form .form-section .myplant-img-section .image-view {position: relative; display: block; border-radius: 40%; margin: 0 auto; width: 100px; height: 100px; border: 1px solid #00A964;}
.myplant-form .form-section .myplant-img-section .image-view .default img {border-radius: 40%; width: 100%; height: 100%;}
.myplant-form .form-section .myplant-img-section .camera {display: block; position: absolute; bottom: 0; right: 0; width: 30px; height: 30px; line-height: 40px; text-align: center; border: 1px solid #808080; border-radius: 50%; background: #fff;}
.myplant-form .form-section .myplant-img-section .camera img {width: 20px; height: 20px;}
.myplant-form .form-section .myplant-img-section .cancel {position: absolute; top: 0; right: 0; width: 25px; height: 25px; line-height: 30px; text-align: center; border: 1px solid #808080; background: #fff;}
.myplant-form .form-section .myplant-img-section .cancel img {width: 15px; height: 15px;}
.myplant-form .form-section .sys_myplant_img input {display: none;}
.myplant-form .form-section .water-interval-section select {appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; width: 100%; height: 2rem; margin-top: 0.5rem; border-bottom: 1px solid #00A964; background: #fff; font-size: 1.1rem; color: #666;}
.myplant-form .form-section label {color: #00A964; font-size: 12px;}
.myplant-form .form-section .input input {width: 100%; height: 2.5rem; border: 0; line-height: 3rem; font-size: 14px; border-bottom: 1px solid #00A964; color:#1a1a1a;}
.myplant-form .form-section .date input {background: url(../images/datepicker_icon.png) no-repeat right 10px; background-size: 20px; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.myplant-form .form-section .msg {margin-top: 10px; font-size: 12px; line-height: 12px; color: #f74d4d;}
.myplant-form .plant-form-section {padding: 20px; background: #fff;}
.myplant-form .diary-form-section .diary-date-section {}
.myplant-form .diary-form-section .diary-date-section .diary-date {width: auto; border-bottom: 0; line-height: 22px; font-size: 16px; background: url(../images/datepicker_icon.png) no-repeat 110px; background-size: 20px;}
.myplant-form .plant-form-section .item {margin-top: 24px;}
.myplant-form .plant-form-section .item:first-child {margin-top: 0rem}
.myplant-form .diary-form-section {margin-top: 20px; padding: 20px; background: #fff;}
.myplant-form .diary-form-section .item {margin-top: 12px;}
.myplant-form .diary-form-section .item:first-child {margin-top: 0rem}
.myplant-form .diary-form-section .water-yn-section,
.myplant-form .diary-form-section .medicine-yn-section,
.myplant-form .diary-form-section .pot-replace-yn-section {overflow: hidden;}
.myplant-form .diary-form-section .label {float: left; line-height: 40px;}
.myplant-form .diary-form-section .toggle-water {float: right; line-height: 40px;}
.myplant-form .diary-form-section .radio-section {float: right; padding-top: 10px; height: 37px;}
.myplant-form .diary-form-section .input-radio {float: left;}
.myplant-form .diary-form-section .input-radio:last-child {margin-right: 0}
.myplant-form .diary-form-section .input-radio {margin-right: 15px;}
.myplant-form .diary-form-section .soil-condition-yn-section {overflow: hidden;}
.myplant-form .diary-form-section .diary-img-section {overflow: hidden;}
.myplant-form .diary-form-section .diary-img-section .label {float: none; color: #00A964; font-size: 12px;}
.myplant-form .diary-form-section .diary-img-section .image-section {overflow: hidden;}
.myplant-form .diary-form-section .diary-img-section .image-section .image:first-child {margin-left: 0;}
.myplant-form .diary-form-section .diary-img-section .image-section .image {position: relative; float: left; margin-left: 2%; width: 32%; height: 100px; border: 1px solid #00A964;}
.myplant-form .diary-form-section .diary-img-section .image-section .img {height: 100%;}
.myplant-form .diary-form-section .diary-img-section .image-section img {width: 100%; height: 100%;}
.myplant-form .diary-form-section .diary-img-section .image-section input {display: none;}
.myplant-form .diary-form-section .diary-img-section .image-section .cancel {position: absolute; top: -1px; right: -1px; width: 25px; height: 25px; line-height: 30px; text-align: center; border: 1px solid #808080; background: #fff;}
.myplant-form .diary-form-section .diary-img-section .image-section .cancel img {width: 15px; height: 15px;}
.myplant-form .diary-form-section .diary-content-section .textarea-diary-content textarea {padding: 10px; width: 100%; height: 80px; border: 1px solid #00A964; font-size: 14px;}

/* 다이어리 - 리스트 */
.diary-list .contens-section {padding: 20px; background: #fff; border-top-left-radius: 16px; border-top-right-radius: 16px;}
.diary-list .contens-section .diary-title-section {overflow: hidden; padding-bottom: 20px;}
.diary-list .contens-section .diary-title {float:left; font-size: 16px; line-height: 16px; font-weight: 700;}
.diary-list .contens-section .diary-all {float:right; font-size: 12px; line-height: 16px;}
.diary-list .contens-section li:first-child {border-top:0;}
.diary-list .contens-section li {overflow: hidden; padding: 20px 0; border-top: 1px solid #E6E6E6;}
.diary-list .contens-section .diary-date {font-size: 14px; font-weight: 700;}
.diary-list .contens-section .diary-detail-section {overflow: hidden; margin-top: 10px;}
.diary-list .contens-section .left {overflow: hidden; float:left; width:50%; font-size: 12px;}
.diary-list .contens-section .right {overflow: hidden; float:left; width:50%; font-size: 12px;}
.diary-list .contens-section .desc-title {float:left; font-size: 12px;}
.diary-list .contens-section .desc {float:left; margin-left: 10px; font-size: 12px;}
.diary-list .contens-section .diary-content-section {margin-top: 10px}
.diary-list .contens-section .content {font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.diary-list .btn-section {display: none; position: fixed; right: 0.5rem; bottom: 0.5rem;}
.diary-list .btn-section .plus {width: 48px; height: 48px;}

/* 다이어리 - 상세 */
.diary-detail .contens-section {}
.diary-detail .header-title-section {height: 20px; line-height: 20px;  text-align: right;}
.diary-detail .header-title-section .text {margin-right: 10px; display: inline; color: #00A964}
.diary-detail .image-section {position: relative; overflow: hidden;}
.diary-detail .image-section .img {float:left;}
.diary-detail .image-section .img img {width: 100%;}
.diary-detail .image-section .slick-dots {position: absolute; overflow: hidden; bottom: 25px; left: 50%; margin-left: -20px;}
.diary-detail .image-section .slick-dots li {float: left; margin-left: 5px; width: 10px; height: 10px; border: 1px solid #00A964; border-radius: 50%; }
.diary-detail .image-section .slick-dots li:first-child {margin-left:0;}
.diary-detail .image-section .slick-dots li.slick-active {background: #00A964}
.diary-detail .image-section .slick-dots li button {display: none;}
.diary-detail .content-section {position: relative; top: -16px; border-top-left-radius: 16px; border-top-right-radius: 16px; background: #E6E6E6;}
.diary-detail .detail-section {background: #fff; padding: 20px; border-top-left-radius: 16px; border-top-right-radius: 16px;}
.diary-detail .detail-section .title-section {overflow: hidden; padding-bottom: 20px; border-bottom: 1px solid #E6E6E6;}
.diary-detail .detail-section .title-section .title {float:left; line-height: 25px; word-break: break-all; font-weight: 700; font-size: 16px;}
.diary-detail .detail-section .title-section .care {float:right; width: 60px; text-align: center; line-height: 25px; font-size: 12px; border-radius: 15px; background: #00A964; color: #fff; border: 1px solid #00A964;}
.diary-detail .detail-section li {overflow: hidden; margin-top: 20px;} 
.diary-detail .detail-section ul .desc-title {float: left; font-size: 12px;}
.diary-detail .detail-section ul .desc {float: left; margin-left: 20px; font-size: 12px;}
.diary-detail .detail-section .diary-content {margin-top: 20px}
.diary-detail .detail-section .diary-content .desc-title {font-size: 12px;}
.diary-detail .detail-section .diary-content .desc {margin-top: 10px; font-size: 12px;}
.diary-detail .btn-section {margin-top: 20px; padding: 16px 20px 0; background: #fff;}
.diary-detail .btn-section .delete {margin: 0 auto; width: 70px; height: 25px; line-height: 25px; font-size: 14px; color: #808080; font-weight: 700; border-radius: 15px; border: 1px solid; text-align: center;}

/* 다이어리 - 등록/수정 폼 */
.diary-form .contens-section {}
.diary-form .header-title-section {height: 2rem; line-height: 2rem;  text-align: right;}
.diary-form .header-title-section .text {margin-right: 12px; display: inline; color: #00A964}
.diary-form .contens-section .contents {background: #E6E6E6;}
.diary-form .plant-form-section {padding: 20px; background: #fff;}
.diary-form .diary-form-section .diary-date-section {}
.diary-form .diary-form-section .diary-date-section .diary-date {width: auto; border-bottom: 0; line-height: 22px; font-size: 16px; background: url(../images/datepicker_icon.png) no-repeat 110px; background-size: 20px;}
.diary-form .plant-form-section .item {margin-top: 24px;}
.diary-form .plant-form-section .item:first-child {margin-top: 0rem}
.diary-form .diary-form-section {margin-top: 20px; padding: 20px; background: #fff;}
.diary-form .diary-form-section .item {margin-top: 12px;}
.diary-form .diary-form-section .item:first-child {margin-top: 0rem}
.diary-form .diary-form-section .water-yn-section,
.diary-form .diary-form-section .medicine-yn-section,
.diary-form .diary-form-section .pot-replace-yn-section {overflow: hidden;}
.diary-form .diary-form-section .label {float: left; line-height: 40px;}
.diary-form .diary-form-section .toggle-water {float: right; line-height: 40px;}
.diary-form .diary-form-section .radio-section {float: right; padding-top: 10px; height: 37px;}
.diary-form .diary-form-section .input-radio {float: left;}
.diary-form .diary-form-section .input-radio:last-child {margin-right: 0}
.diary-form .diary-form-section .input-radio {margin-right: 15px;}
.diary-form .diary-form-section .soil-condition-yn-section {overflow: hidden;}
.diary-form .diary-form-section .diary-img-section {overflow: hidden;}
.diary-form .diary-form-section .diary-img-section .label {float: none; color: #00A964; font-size: 12px;}
.diary-form .diary-form-section .diary-img-section .image-section {overflow: hidden;}
.diary-form .diary-form-section .diary-img-section .image-section .image:first-child {margin-left: 0;}
.diary-form .diary-form-section .diary-img-section .image-section .image {position: relative; float: left; margin-left: 2%; width: 32%; height: 100px; border: 1px solid #00A964;}
.diary-form .diary-form-section .diary-img-section .image-section .img {height: 100%;}
.diary-form .diary-form-section .diary-img-section .image-section img {width: 100%; height: 100%;}
.diary-form .diary-form-section .diary-img-section .image-section input {display: none;}
.diary-form .diary-form-section .diary-img-section .image-section .cancel {position: absolute; top: -1px; right: -1px; width: 25px; height: 25px; line-height: 30px; text-align: center; border: 1px solid #808080; background: #fff;}
.diary-form .diary-form-section .diary-img-section .image-section .cancel img {width: 15px; height: 15px;}
.diary-form .diary-form-section .diary-content-section .textarea-diary-content textarea {padding: 10px; width: 100%; height: 80px; border: 1px solid #00A964; font-size: 14px;}


/* 설정 */
.setting .contents-section {padding: 20px; background: #fff; border-top-left-radius: 16px; border-top-right-radius: 16px;}
.setting .contents-section li:first-child {border-top:0;}
.setting .contents-section li {overflow: hidden; padding: 20px 0; border-top: 1px solid #E6E6E6;}
.setting .contens-section .diary-date {font-size: 14px; font-weight: 700;}
.setting .contens-section .diary-detail-section {overflow: hidden; margin-top: 10px;}
.setting .contens-section .left {overflow: hidden; float:left; width:50%; font-size: 12px;}
.setting .contens-section .right {overflow: hidden; float:left; width:50%; font-size: 12px;}
.setting .contens-section .desc-title {float:left; font-size: 12px;}
.setting .contens-section .desc {float:left; margin-left: 10px; font-size: 12px;}
.setting .contens-section .diary-content-section {margin-top: 10px}
.setting .contens-section .content {font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 로그인 */
.container.login {}
.container.login .title-section {color:#0CAF9C; margin: 50px auto; width: 300px;}
.container.login .title-section .title {line-height: 0;}
.container.login .detail-section {padding: 0; text-align: center; box-shadow: 0px -2px 5px 0px #f8f8f8; background: #f8f8f8;}
.container.login .detail-section .login-section {padding: 40px 0 0; background: #f8f8f8;}
.container.login .detail-section .login-section input {width: calc(100% - 60px); height: 46px; border: 0; border-radius: 2rem; line-height: 3rem; font-size: 14px; text-align: center; background: #f1f1f1;}
.container.login .detail-section .login-section .msg {margin: 5px 0 10px; height: 12px; font-size: 12px; line-height: 12px; color: #f74d4d;}
.container.login .detail-section .btn-section {background: #f8f8f8}
.container.login .detail-section .btn-section .login {display: inline-block; padding: 0 40px; border-radius: 20px; line-height: 40px; font-size: 14px; background: #0CAF9C; color: #fff}
.container.login .detail-section .sub-section {display: inline-flex; overflow: hidden; margin: 40px auto;}
.container.login .detail-section .sub-section .txt {float: left; margin-left: 10px; font-size: 12px;}
.container.login .detail-section .sub-section .txt:first-child {margin-left: 0;}


/* 회원가입 */
.container.join {}
.container.join .title-section {color:#0CAF9C; margin: 50px auto; width: 300px;}
.container.join .title-section .title {line-height: 0;}
.container.join .detail-section {text-align: center; box-shadow: 0px -2px 5px 0px #f8f8f8;}
.container.join .detail-section .join-back-section {padding: 40px 0 40px; background: #f8f8f8;}
.container.join .detail-section .join-section {margin: 0 auto; width: calc(100% - 60px);}
.container.join .detail-section .join-section input {width: 100%; height: 46px; border: 0; border-radius: 2rem; line-height: 3rem; font-size: 14px; text-align: center; background: #f1f1f1;}
.container.join .detail-section .join-section .msg {margin: 5px 0 15px; font-size: 12px; line-height: 12px; color: #f74d4d;}
.container.join .detail-section .agree-section {margin-top: 20px; padding: 20px 0 0; background: #f8f8f8; box-shadow: 0px -2px 5px 0px #f8f8f8; color: #666}
.container.join .detail-section .agree-section .user,
.container.join .detail-section .agree-section .personal,
.container.join .detail-section .agree-section .service,
.container.join .detail-section .agree-section .transaction,
.container.join .detail-section .agree-section .promotion {overflow: hidden; margin: 0 auto; width: calc(100% - 60px); font-size: 12px;}
.container.join .detail-section .agree-section .item:first-child {margin-top: 0}
.container.join .detail-section .agree-section .item {margin-top: 10px}
.container.join .detail-section .agree-section .tit {float:left;}
.container.join .detail-section .agree-section .agree {float:left; margin-left: 10px;}
.container.join .detail-section .agree-section .agree input[type="checkbox"] {width: 12px; height: 12px;}
.container.join .detail-section .agree-section .view {float:right;}
.container.join .detail-section .agree-section .msg {clear: both; margin: 20px 0 0; font-size: 12px; text-align: left; color: #f74d4d;}
.container.join .detail-section .btn-section {padding: 20px 0; background: #f8f8f8}
.container.join .detail-section .btn-section .login {display: inline-block; padding: 0 20px; border-radius: 20px; line-height: 40px; font-size: 14px; background: #0CAF9C; color: #fff}

@media screen and (max-width: 370px) {

    .calendar .plant-list .list .content-section .item {margin-top: 5px;}
    .calendar .plant-list .list .content-section .item .txt {width: 80px;}
    
    .myplant-list .list .content-section .item {margin-top: 5px;}
    .myplant-list .list .content-section .item .txt {width: 80px;}

}